th {
    font-size: 100%;
}
tr,td {
    vertical-align: top;
    font-size: 90%;
}
.interrumpant {
          background-color: var(--pico-mark-background-color);
}
.motie {
	border-left: 3px solid;
	padding-left: 0.6em;
}

span.jarig::before { content: '🎈'; }

.stemming.meervoor .besluittekst {
    background-color: var(--pico-form-element-valid-border-color);
}

.stemming.meertegen .besluittekst {
    background-color: var(--pico-form-element-invalid-border-color);
}

{% if dev %}
.dev-banner mark {
    display: block;
}

.dev-banner mark span::before {
    content: "U beschouwt een testomgeving (tkserv --dev).";
}
{% else %}
.dev-banner {
    display: none;
}
{% endif %}
